body {
    background-color:#212121;
}
h1 { color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 50px; font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    padding-top: 20px;
}


h2 { color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; font-weight: 300; 
    line-height: 32px; margin: 0 0 20px; 
    text-align: center; 
}
